window {
    font-family: "Noto Sans", "Iosevka Nerd Font";
    font-size: 14pt;
    background-color: rgba(12, 13, 15, 0.7);
}

button {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    background-position: center;
    background-size: 25%;
    background-repeat: no-repeat;
    margin: 16px;
    border-radius: 30px;
    border: none;
    box-shadow: none;
    /* box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12); */
    transition: background-color 300ms, color 300ms ease-out, box-shadow 200ms ease-out;
}


#lock {
	background-image: image(url("icons/lock.png"));
}
#lock:hover {
    background-color: rgb(148, 152, 166);
}

#logout {
	background-image: image(url("icons/logout.png"));
}
#logout:hover {
    background-color: rgb(78, 95, 156);
}

#suspend {
	background-image: image(url("icons/suspend.png"));
}
#suspend:hover {
    background-color: rgb(185, 201, 105);
}

#hibernate {
	background-image: image(url("icons/hibernate.png"));
}
#hibernate:hover {
    background-color: rgb(56, 103, 68);
}

#shutdown {
	background-image: image(url("icons/shutdown.png"));
}
#shutdown:hover {
    background-color: rgb(163, 78, 78);
}

#reboot {
	background-image: image(url("icons/reboot.png"));
}
#reboot:hover {
    background-color: rgb(143, 96, 133);
}
